{% extends "base.html" %}
{% block content %}
<h1>Add grade</h1>
<p class="success">Added grade {{ grade }} for {{ student }} in course {{ course }}</p>
<form action="/add_grade" method="POST">
    <input type="hidden" name="add_grade" value="add_grade">
    <label for="course">Course</label>
    <select name="course" id="course">
        <option value="" selected>Select</option>
        {% for course in courses %}
        <option value={{course['course_id']}}>{{course['course_id']}}</option>
        {% endfor %}
    </select><br>
    <label for="stud">Student</label>
    <select name="stud" id="stud">
        <option value="" selected>Select</option>
        {% for student in students %}
        <option value={{student['student_no']}}>{{student['student_no']}}</option>
        {% endfor %}

    </select><br>
    <label for="grade">Grade</label>
    <select name="grade" id="grade">
        <option value="" selected>Select</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
    </select><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="type" value="student">
</form>
</div>
<a href="/">Back to main</a>
{% endblock %}