{% extends "base.html" %}
{% block content %}
<h1>Courses</h1>    
        <table>
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses|sort(attribute='course_id') %}
            <tr>
                <td><a href="{{url_for('course', course_id = course.course_id)}}">{{ course.course_id }}</a></td>
                <td>{{ course.name }}</td>
            </tr>
            {% endfor %}
    
        </tbody>
        </table>
<h1>Students</h1>
        <table>
            <thead>
                <tr>
                    <th>Student no</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

            {% for student in students %}
            <tr>
                <td><a href={{url_for('student', student_no = student.student_no)}}>{{ student.student_no }} </a></td>
                <td>{{ student.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

<a href={{url_for('new_student')}}>add new student</a>
{% endblock %}